@using System.Security.AccessControl
@using Singular.Web.Admin.Controllers
@using Singular.Web.Admin.Defaults
@using Singular.Web.Common
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TBC title from object</title>
    <script> window.ROOT_URL = '@Url.Content("~/")';</script>
</head>
    <body ng-app="Singular.Application">
        <header>
            <h1>Singular CMS</h1>
        </header>
        <ng-include src="'/Singular/NgView/partials/_nav/'"></ng-include>
        <section sg-view="">
        </section>
        <!-- ANGULAR -->
        @(Html.EmbeddedInclude<NgViewController>(SingularAdminResources.ANGULAR_MIN_JS, IncludeType.JavaScript))
        @(Html.EmbeddedInclude<NgViewController>(SingularAdminResources.ANGULAR_ROUTE_MIN_JS, IncludeType.JavaScript))

        <!-- SINGULAR APP JS -->
        @(Html.EmbeddedInclude<NgViewController>(SingularAdminResources.SINGULAR_MIN_JS, IncludeType.JavaScript))
        
        <!-- CONTROLLERS -->
        @(Html.EmbeddedInclude<NgViewController>(SingularAdminResources.NAV_CONTROLLER_MIN_JS, IncludeType.JavaScript))
        @(Html.EmbeddedInclude<NgViewController>(SingularAdminResources.HOME_CONTROLLER_MIN_JS, IncludeType.JavaScript))
        @(Html.EmbeddedInclude<NgViewController>(SingularAdminResources.SYSTEM_CONTROLLER_MIN_JS, IncludeType.JavaScript))
        
        <!-- DIRECTIVES -->
        @(Html.EmbeddedInclude<NgViewController>(SingularAdminResources.SG_VIEW_DIRECTIVE_MIN_JS, IncludeType.JavaScript))

    </body>
</html>
